before_install:
- sudo add-apt-repository -y ppa:chris-lea/libsodium
- sudo apt-get install -y libsodium-dev
- sudo add-apt-repository -y ppa:cran/imagemagick
- sudo apt-get install -y libmagick++-dev
- R -q -e 'if (!requireNamespace("remotes")) install.packages("remotes")'
- R -q -e 'if (getRversion() < "3.2" && !requireNamespace("curl")) install.packages("curl")'
- R -q -e 'remotes::install_github("ropenscilabs/tic", upgrade = "always"); print(tic::dsl_load());
  tic::prepare_all_stages()'
- R -q -e 'tic::before_install()'
addons:
  apt:
    update: true
install: R -q -e 'tic::install()'
after_install: R -q -e 'tic::after_install()'
before_script: R -q -e 'tic::before_script()'
script: R -q -e 'tic::script()'
after_success: R -q -e 'tic::after_success()'
after_failure: R -q -e 'tic::after_failure()'
before_deploy: R -q -e 'tic::before_deploy()'
deploy:
- provider: script
  script: R -q -e 'tic::deploy()'
  on:
    all_branches: true
- provider: releases
  api_key:
    secure: GITHUB_KEY
  file:
  - tweet_report.md
  - build_report.md
  skip_cleanup: true
  on:
    tags: false
after_deploy: R -q -e 'tic::after_deploy()'
after_script: R -q -e 'tic::after_script()'
language: r
sudo: false
dist: xenial
cache: packages
latex: false
env:
  global:
  - MAKEFLAGS="-j 2"
  - secure: HYmycYl+GO3CICBB06mjYoNTNE+poMq4xffMWCgxGJYL3dFoFBUzpCM3d0YT0AykUz0Np4xSnGB372fIGoYOIf2F1MmqIxT4Vl0TarVayr8Rsr5fs2E+QOCX+d99ZYHaKdCDpWU3Y71LQFQtpfZoF3Mu/1WvLsBX3XDhJFQ8c5IKBsZ9cU3pLC3S3avcHUk6Ulkmtd1P973Max+7dObwh7zPtjIH2XZXPUmTLnznqcsdyiRTEFHuhtrIzhp1Dh1gX60AiBDMPD0lOgjKpv34/Kp89MTBXgTX8bB5EcObBNLnduEJTp6JynLEmlf9QDMdBfak7BGLVyiKplSZfROdcp0bfaROG0NWlylUFpgdmuDt3ugGuYfsxyBvHPSBBFzsfgkXmDK4xhULidilEtzZIUcLr0WiK02NFaAb7sni7IWgB9y3AZ0CHo1DwhVUt85wYbdBrMe4yzLQdQidZDcFgIQLHqucvNfYK1J5JAJ17jI044E5hcASfYpFr8MP/RKB6XEk2TFlm0Z4fGGT/BWB75bfu1x+qx750YgC38ZmvRnLBGAwhYaFVFrxxFXh7l9mKu+iZNY/k4Jql3bGVpOUQSj2euyDDVPMe161SQusIBhdI+yhS8uNLAlek9DQSe5YjDSU7jFYAdRtmV0BEG6NAP+G7iQssVL02q9BTKb5Kgo=
  - secure: ALRkl2gj9pR4U6Px6G12r+7t7q65r8ewYcCE1Go6t3FntllaLYdFEEffocyh5BG7/KVq+Q9SXwIMTXl4kXDia5aECsG1iYIYvZn1/+vOZqsr7QRLYEMVOo4bb3lmtpfyFBQMAs+yy/MWFjEgQaKcpA62vSbmLh5FFTbsFq5Z7bxw0TbPbTsdD2ezVJUF7ZEXwVUcEhEZKHI4V3GOCojRMdNszqYzZTsGGOrjh2AI0k+n1T/+oWPlVkgnvou+6KVttiZ/mXLU5EFJIPCGiaCIcAgCo3eKK1FSPMQ6y0yDkFLTUo8fKlF+ly6YymuivozXDrVLYdatpANJF8u6qa7SLG/d7UdsbJruqoIdgZZZmOUcPyT54vHwbTXOTcplAAimD4q/1kxWXCtb4jmyNpTR8ap1NIHe/RgAzIhkDr00IT0KxYGGZ2PcPUa5XnfaCROAWuCDTg3i7urJ8fvUN12lTszbjoHk3UlftvqduKhgAHTIlMR5hBsd2f5rKyr41LEG3dLRZ1fq1gtIiXfmVPbr+FNhngmhrxozZO37dX8xh0cSrc1i5+iVKbjoKPOL8NHA1gtwspNqAV8HiriItq5ZM47pYKJZxiouQ39RpqwHO61zsBQbclxTunGdyB2vTVGOc4a+6MntBQR5xPHV3UecVVqnGTByc+oXM3BKrfxazjI=
  - secure: C7M46Y1K8HsR6WluoOxdADFwruylqfdlAkAwpAWpfPLXcFvitMbEJkl0NeLVN+hOknvZ6cimhUkzA5YKjH5EMM3ix43quA/S9kGgMral7xDBIbmCYYskxYOFD1V0bontOd78Pd9iMyGf9Ffho99BK0p39TfnP1ihFBWzORk/Qq2WvE3VQcD/jCpqNKxEDklDSyNo+iRrDVJ7KZsiTUlEssACqFw5uxQ8Fy/cX6/hvYi6yoLVXK2RNPQh7/r+PDAvbElJvjeT9kSBW3dQz2XN8j1Ei/8S+g0ok8hEDXe7BSlJFYliRqQlg2eWFbAkQaDKKaXPqLArnKQPZgQj0yddF26340FWoVcqv3S2lUG0gaScT8mbnrTRXpZZ8xQqmPCaTc+GLzdk9Ru686x+h1PUWx2FuY1mb0iq00eNKlBxq8zXLFjuqL0kVSxGGfrkbRWdfdoVbMK5jVENRuAZDAjG7I5FIfF0t90ttRd41r0JO5xXqYwMQ5+i0WKxFWvpRylkXbMcfsi6s1sOXbu4imUUdeJta3JZvgt1No9cXZLIw/LOjflvNtkN+bW5UtHaZIrK3BGh4sYqSekkgatWVa17PzfJDLA9q1VU0B9sjO9poT5ks6HnjEB2XeRLhD88334B1PvK3C9BzA7FzWDMAwYe30gOX6uOCeq2ogj2IJMT0bM=
  - secure: ZVmKjF5emZnzjtS/TBBXti5cdvyL+/EN/2J0m11B2DgQkU2OdXGOWavPv+RT+kiVo0KMBUIPw0ODiJUzfRZa3zk2cKeCsec6DmD2S5ZzrSGk37zsD4Ult+uTykmljB0w4uL1Erct77P5UQR5VftoRK6JBHi4pPdtDMge63NeJsyvkbjFLMWzNKjMQnZusIwRCjomIkwvT2PTsmoVbPfUap1V7hRPeUhyjbyR/NHomUUQ2mQHTyMn/bVHs+Gx0YjeC8b8QpuKBAWjxeXbEOvTayiDbH4+89dPJpWrr/3XBzP82gI3TpzQdleKNGTXTBUsoRjUjDl35b0IBLCZnzvqdSpNlr1J+Ad37eCvaTpEgYGFlpWurhwjl6xdChL94teDyj4nB+BcFVAX+ckJ/ZrlJ1VN+XCgRECK3mjog4buH4MhZHnZOwa266twvbBqBrhlLYfJXtW3W5Pzic20UOyLiYQYRPEwNtm1kxun3iE+EQBmR5FG7qd5owV+6IBoKZuMWhK6LTE8MdqBAwR7pnCzuq5exi0cFzOQR8MB51eAA0SvKLL2Z6yhhBA+dTg+Na8UYuJsL6fF7feR133YOXmsf46ZMTw0SGPGQ9W410DoTQQgJEd0VryIxFbDm/Cd69NynEyc46LxaDQcfsEHb6WuZOHySCgGgVXtRvyeGsjbUqU=
  - secure: OZ81cipFYt335VLLbRU5C3mMJA1ZuAOCGfRWVNX4XxPGZKbE3HIgn09cPq2F+m6BS3umO6+ctNnHvrpFqyEbVO4z+rWGD5lqlBJiH27DBoMM/TuDNiBIf8siDMOCdeiRoHPY9hYquzJmtdBxmVe9qv2akiruy8vAZt2HXf7mWLqpzLnO5XSC46PUQiX0GX/n05hpsop+TJBv0dw6dCqit2KEqa6yIy0ARPmPbOmlXF3sFNNUW/sd6uXT2QqhxukTaeGMQYn2FcyonO6bOcs4O/NxabLfi0ZjFVqxz9vFaw7nYOmi2l/PLHnPQMU0USNrHlK6NGHSKZNYrO56kJrPq+y/2Ff56PD+BHgNJRr0Ao9fhJlCJjpTR//QQplXaibcq5hK1bFSxa1ZTgn7l/VgFGGZb6BpUPwx6MJYY2SvTW1vfZWR2EzxLVH0qv0cs2jWP3cT2lgX7IOMd2eYeR9cJiPYZOu8//FlFCyrFTMryS2A+oXbFWU+VYp0KHqhI/BnZtsif9F4Eaq4FJCE0Q3LKMEbcRQ8CNMgtsORdOzuCzixeCvKhS7qUESOczBE2zNQdHXap/E/0XxaHi0dsJy/MmY2G8xJL/2ADXoVqcoQ3FXO5eDqA4v56FGML3CnvPNUaOGM6gCiN23cdAfquDGwDMoWapk06sxEIZvXVFZx1iA=
  - secure: BrGY0OBI9mgfWUI0MV0sm08lpZiUHu2b0fnc1FMYMW+XX8Up/u77pMZpRIaN8dPLiDYEeuAnRYJ1sSXvzltymwlUUu84l8pnYp90N+/w3ewkwRzE488RGQ4Y/pSUy+4+14qJhEioEVHICJIOos7RbBOLdyzOS9/IxSWDt/k0OLsUjx97XKB8maqec3q7td/6lZrlXDDZQk5ZS9OXPj6G1UafSK7J7x9vOdzUz+tSczhSvH7kSpcvZLlqpbKw47VxfcPEGFeijREeV4YApsHyulQKU5r0Up5dqdVjyV5NiVjdCsA/4ldegplUxZq7uR17w6fYyiDjXWLyurvHen22BlFPKpoTcqY3hwFAoJ5I/hmyORyasAYKAj0dwizb4SouphtbrxXoAFQDe3WSIb1TGH1m7RO3KznDM9Pw396vrUZ6MH3cbNSZkJ+dFZNPi8wPcy/uvjB0+bgu7aycZuTX/rRgvD6L1Argqlo5jLMHy8C8ePpsuwi3Rou1Pqy9vnuOgW62LUv2hOhDhUc65dOIOrRQsK7jzMng4vOLAbeZj2Nay9b0Jr/uokEc8E65n+N/r65BKgurvyQOVEkNP1RU33VtpsvJym17e9Fg6qcA1zF1mTIAoCfYTRkpjMVGvneCOInmCCBjbMNW/kfGJPXZcJp82tYc/wBKJaCld3rk+IM=
services:
notifications:
  email:
    recipients:
    - mcuoco12@gmail.com
    on_success: always
    on_failure: always
