before_install:
- sudo add-apt-repository -y ppa:chris-lea/libsodium
- sudo apt-get install -y libsodium-dev
- sudo add-apt-repository -y ppa:cran/imagemagick
- sudo apt-get install -y libmagick++-dev
- R -q -e 'if (!requireNamespace("remotes")) install.packages("remotes")'
- R -q -e 'if (getRversion() < "3.2" && !requireNamespace("curl")) install.packages("curl")'
- R -q -e 'remotes::install_github("ropenscilabs/tic", upgrade = "always"); print(tic::dsl_load());
  tic::prepare_all_stages()'
- R -q -e 'tic::before_install()'
addons:
  apt:
    update: true
install: R -q -e 'tic::install()'
after_install: R -q -e 'tic::after_install()'
before_script: R -q -e 'tic::before_script()'
script: R -q -e 'tic::script()'
after_success: R -q -e 'tic::after_success()'
after_failure: R -q -e 'tic::after_failure()'
before_deploy: R -q -e 'tic::before_deploy()'
deploy:
  provider: script
  script: R -q -e 'tic::deploy()'
  on:
    all_branches: true
after_deploy: R -q -e 'tic::after_deploy()'
after_script: R -q -e 'tic::after_script()'
language: r
sudo: false
dist: xenial
cache: packages
latex: false
env:
  global:
  - MAKEFLAGS="-j 2"
  - secure: FYTa6h17k0B0pC+Cg3HRxsvwExMkhlt9IT6IbYfnLOLGpPMAuTq2zUnXjShoi2QKSdGRP8RzfJhUKg24oBhesH+PPBHM2+76tBmI5T6CvTMtK3Xz4c1/pQrdJ16FmRcMQwsZTFCWEceH+Rk+oBFHhvbcvP/V+TKs1XSAPamidwuIi4eNtCU0PzVRrmFad6K9F4dpWu+RPPYKUOP9B0//oJD4wrG0NGB6bAvrhCa8WbERjzExFmwicTPD4hTr1YaihypZ2sYwz8mQJ3tuzc/QiN734rFWcAcntpMIAzD5I4VoCcFoWDheB4eLJiU3Da5mm93LdNZIuA4qDSz6PSPYp1QNqzhmQXWvw6d/KGPn38Z8hQASQ3UwpE3UVFZWkxO02DgO6zd1+h/xMNcn2SCX7bVydn/8T/Om74h92lvmMzdHIqtZZILBWEChioX4oxI1WP9XP/X/g/7VMU+gsn/a1NulavJ7ze1s/07ZaJrMst9vFCOql5UyTr1/KQaa3KtvtvkdQr0ps4ItVexGow0UVz6RuNY0ZWxG4+AfWoqPCr6Zkf9WOcoGNYpdAMmBVKBFZJj1+KBAJvWZizzlJ9tiD95620ZLtkuMdjAIHeonO+oc3mgpih91rFky3dxCFqr7n81oe+wLnPsRs3GzFxAKjP5d3V+bjviG8NpC0jsTrmY=
  - secure: n8x2s4rp5i5ueO2H2cIIyKvSRIpqCds7tnpsrtxAk5aZ0hq/gD6xnMpbpc7Qcej+PjCNrrYcWQzuoKqSVWZAS28AGc7rLSoxdChdhxV25b55fqJHd4p8D98/zgCzNGboZ16+I8DwposznTGrHs5zyWbgpYZJgGR4P+JCDwx7KDLlbCY9pQ9OkpjvIiTuljhQxXM5qGnC9/yyz4Y2vcWX7+rLhQkQ11lIzkvUCGBzygMn8Sld7esNgNFS3dZRBlzaxjzmxkcb3LY8NNs6unYC8QzSGlQ2SiV8gmpn/hd5Atb/YI0pxNP4+8uURNVLlrngkYeBu2MiaATubG1KaF5rWrEbqEu4SFQWwyMLWBmfC0dp/YRY7L+mbRnxlt28bsid32WHoL7CZBJ72odahFvdKd5EqjDp5s3SLZSeYU7O07UYxnT0EymKLw32Aelq9FQMFd/wk7nPlJjH7kbts8/KnwrcLmD36gOXyCl5sphzmyExrHPYasLmWUILAdVQzcjszKoTpsKczoKjSpv7p8UZY8+fUejGcM7XRlzK79OQzC1khci94uzQVSxl0XamfzQvHJDbKXmpt2Z2ly/8Zr3JUAhP3rAtraNe/LvjNkiWjo3IdxFQapoO9SLNgO95fgMDY9bD/ttcHuULNE3ddmk2z+o70hSY1ulI0hT3HMHT3js=
  - secure: NRoeZ1RVRQRznbRnfdwM7YtFGE7nESo/wsnLmk5+QHrkIc0g73BEKz39Z4IleO1qwu2aqHToLfMGTVDXZ8cI/rLNYobjIVCvNSNNRlKXRreY6tLcqxGLkW7/zSf6cqhNboV5qwe/O9ITuZ8UzrtfxaPWdTAMTQWMQAftwfIhLsLjXhHRdqYTLiv94DOOqSXDqum392c9pMfTf7e29mbOsR8kJy08dtyDBPedsuT79N0GwEJE54wPshjIZvOdry5ydQye125ADofNKommDRV9ygs61ElOL49DEXHCJkeeEpg0vuN9rQEpfdqdhHklanU9PTVHFeZFEFI0cqLaZcPswL+vR9v6McgwAkfXLIfFOnvxtszRJ2rmWdspcMLmBM0QnDoInksjg121CrmAbcgHTC+Mu8nPHbLX/5GoGryAkwCdZ51M2QKUtlvDcATCQVHxWEYFAOq2XS9AjQ5/i+zrUQdaDdMdcoK/xNJirc1iFV1lbLYWGMjtHMTSw98ZFVs3kd36H3OjQPFAIvo42ZJ4LIbqK1etFT1xC/d8zALoPX+Kqc9Psz3g98OK44go5HYiwr1MaEmar/ISjk8crbB/UHWLUR7xKUigswwXDcwMDtSadPwRP17wPTj5Iaxr6R4QdurdfcSnA0/F2OE0XhnhPb7JGwgrn+nJtv2TYQJLiI0=
  - secure: EaXJJ/qamQQRrdo32MTVyu1gM1VUen3MQESFm9zOsPxtp+O7aUI4HoX5IcOOl9cLZyI8CZ4KqO/xVr5+PKrXsrhINV7EBrV7axWt+4nQ4TVPNXfF0824PMPNCY2XAhwW62GU4E0YQEUD51QTT40woSuP/OYzAqzz4NPG7J27IkyJRnekHzss0jvmr3hNmp22VNnM6LREiGJaZ6W8WyM+OJoIwZyOc08exAyAGyKKqLRmf6LCUgNwHmGYtpAcuuFL7oe+FELPFjsUsC8nrH3oHguwFJ9El0eotns9PqqDeQCQP0wdGMqSzxN7kxGKUxhO1+fbLwar8CbQJThKInSeFs6muwLxefa1JaixUzdKAyckPMLDewomlC952eYPVZdLGS3J78VlYQuDSeM4d66j95ThqzCQPmr1ByA9sKDymPpPDqPZIBmQQ+c3kW/ofedcfFk3dZlG1gUDvcMpDavRvV6ulnh+iRk7mGkmalAu3YBtF3AXWgW7qfNeo3UfvCfiBpmfu11ddY/bhfi4S2JOFzCOUNqRWhigrOKcyes0kjkETehXpFxUKJ2V8OwWThbwkPuete35yH+windSlqan6zchVjXHLgOLFcuTlCA+Gq3U59y++ur34DM6CQmmSCfOQYBkud2GsKhAyTWfK2rT/K31fyPKd52zkwtqcjNzoac=
  - secure: mkzro5fAuHpfvBCE0HGOT+hGj9nMGrMYLmGfOKB55j8UdkjbvJmOGz/bEHiKTZeNFYV04oKh5R7Bs0snYPcR39W4+eGxZ9285sfiFoxQ6PU3WMlLPLyEjQMDAi94V6sv9LPet5P0qGaA0yN43Yf/DM32oM6c8SGDafaFSIEtlayB6zIOYUO4ZPgKlWtpfuKXM51LkZkhzbL4802nTsFQtyF4b7I11lbupWQgQ1e16r5sxDd9LMEWhshNM1aYOBsMVpp7THR4pHP4d6QFwaw5BoaTE+f2DgSEVebREjo6E/dFv1zNNDR6mV2r1z5B+j9P8snZRAyQRc9lb8LPJoT8QlcC8op29PdXSk4dO4IGqe0OubXNziVWXM6r/P2H8tZd7bZD/VW8jiOc8R8wrt/9WjWDk3js715Um1o/Nvzoj3/SiIRzOedU/WYt2/zMt+Pm6a1Vn1knIufVXMy4qRucCDvtbtXSEFRSGQsmImjEsdtbQYyh2SX7afZwUvvq15d/esVf6HApCUzepteXCrtwLewCT1sa0G1FUrxNgthl1pGs9MdzjnSd0TcdhETDClYAcqHoRV5xVzAeFFRvmgTfRcIthoEeeBve6sp+oxnxQQKTeLuzrLglO7R4wH9TWFC6fMtu1tuu+i1wVqBxmpEl/lR5f57FgGlAQ+h5eB2ybVU=
services:
notifications:
  email:
    recipients:
    - mcuoco12@gmail.com
    on_success: always
    on_failure: always
